:root {
    --primary-color: #fcb738;
    --secondary-color: #0e78b1;
    --tertiary-color: #4ba7b1;
}/* remove built in HTML styling using universal selector */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* apply style to the <body> */
body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* apply design to <header> */
header {
    padding: 10px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

/* remove the underline and blue from the hyperlinks by setting text-dec to 'none' */
header a {
    text-decoration: none;
    display: flex;
}

header h1 {
    font-size: 48px;
}

nav a {
    color: var(--primary-color);
    padding: 14px 20px;
    text-align: center;
}

/*remove bullets & space horizontally*/ 
nav li {
    list-style: none;
    float: left;
    font-size: 26px;
}

.subtitle {
    text-align: right;
        padding: 20px 25px;
        margin-bottom: 20px;
        color: var(--tertiary-color);
        background-color: var(--primary-color);
        flex-wrap: wrap;
        flex: 1;
        font-size: 24px;
        align-items: flex-start;
    
}

/*style the main areas*/ 
.hero {
    padding: 20px 25px;
    margin-bottom: 20px;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    flex-wrap: wrap;
    flex: 1;
    font-size: 24px;
    align-items: flex-start;
    text-align: left;
}

.hero ul {
    text-align: right;
    width: 100%;
}

/*style for main sections */

.section-title {
    font-size: 48px;
    color: var(--tertiary-color);
    margin-bottom: 35px;
    padding-bottom: 20px;
    text-align: left;
    margin: 10px 20px 10px 20px;
    padding: 20px 35px;
    width: 30%;
    display: flex;
    text-decoration: none;

}  
  .primary-border {
    border-color: var(--tertiary-color);
  }

  .flex-row {
      font-size: 18px;
      color: var(--secondary-color);
      text-align: right;
      padding: 20px 35px;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    background-color: white;
    text-decoration: none;
    list-style: none;
    }

    .flex-row p {
        padding: 20px;
    }

    .flex-row h2 {
        width: 100%;
    }

  /*all pictures in the body */ 
  .ul img {
    width: 16px;
}


  .flex-row img {
      width: 80%;
      flex-wrap: wrap;    
    }

  .contact-me {
    padding: 20px 35px;
    margin-top: 30px;
    margin-bottom: 200px;
    display: block;
}

  .address {
      float: right;
      font-size: 24px;
      flex-wrap: wrap;
      list-style: none;
      margin-bottom: 20px;
      padding-right: 48px;
  }

  .address ul {
    text-decoration: none;
    list-style: none;
    padding: 10px 10px;
  }

  .address img {
      width: 16px;
}


  .footer {
      font-size: 100%;
      color: var(--tertiary-color);
      text-align: center;
      justify-content: center;
      margin-top: 5%;
      width:100%;
      padding: 10px 10px;
      position: sticky;
    }


    @media screen and (max-width: 1024px) {

        .header {
            justify-content: center;
        }

    }
    
    
    /* For tablets and smaller */
    @media screen and (max-width: 768px) {
            /* 768px - 575px */
    
    }
    
    @media screen and (max-width: 575px) {

        header {
            display: grid;
            padding: 5px 30px;
            
        }


        .hero {
            font-size: 90%;
        }

        .work {
            flex-wrap: wrap;
        }
        .flex-row {
            padding: 10px;
            flex-wrap: wrap;
            text-align: center;
            display: flex;
        }

        .intro img {
            width: 80%;
            float: right;
        }

        .flex-row img {
            width: 90%;
            flex-wrap: wrap;
        }

        .work img {
            width: 75%;
        }


            .address img {
                width: 16px;;
            }



    }

